kind: Secret
apiVersion: v1
metadata:
  name: {{ cloud_services_service_account_secret }}
stringData:
  client-id: {{ cloud_services_service_account_username }}
  client-secret: {{ cloud_services_service_account_password }}
type: Opaque
