kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: gitea-operator-{{ gitea_operator_project }}
subjects:
- kind: ServiceAccount
  name: "{{ gitea_operator_sa }}"
  namespace: "{{ gitea_operator_project }}"
roleRef:
  kind: ClusterRole
  name: gitea-operator
  apiGroup: rbac.authorization.k8s.io
