apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: ''
    openshift.io/display-name: ''
    openshift.io/requester: '{{ ocp_username }}'
  name: '{{ gitea_operator_project }}'
spec:
  finalizers:
    - kubernetes