apiVersion: v1
kind: Secret
metadata:
  name: {{ kafka_oauth_client_credentials_secret }}
stringData:
  {{ kafka_oauth_client_credentials_secret_key }}: {{ kafka_oauth_client_credentials_secret_value }}
type: Opaque