kind: Secret
apiVersion: v1
metadata:
  name: {{ kafka_tls_secret }}
data:
  {{ kafka_tls_secret_crt_key }}: >-
    {{ kafka_tls_secret_crt_value }}
  {{ kafka_tls_secret_privkey_key }}: >-
    {{ kafka_tls_secret_privkey_value }}
type: Opaque