apiVersion: v1                                                       
kind: Secret                                                         
metadata:                                                            
  name: {{ threescale_object_storage_secret }}                                                     
stringData:                                                          
  AWS_ACCESS_KEY_ID: {{ threescale_noobaa_aws_key }}
  AWS_SECRET_ACCESS_KEY: {{ threescale_noobaa_aws_secret }}
  AWS_BUCKET: {{ threescale_noobaa_bucket_name }}
  AWS_REGION: {{ threescale_noobaa_region }}
  AWS_HOSTNAME: s3-{{ threescale_namespace_noobaa_operator }}.{{ ocp_domain }}
  AWS_PROTOCOL: HTTPS
  AWS_PATH_STYLE: 'true'
type: Opaque
