apiVersion: v1
kind: Secret
metadata:
  name: {{ threescale_object_storage_secret }} 
stringData:
  AWS_ACCESS_KEY_ID: {{ threescale_api_aws_key }}
  AWS_SECRET_ACCESS_KEY: {{ threescale_api_aws_secret }}
  AWS_BUCKET: {{ threescale_api_aws_bucket }}
  AWS_REGION: {{ threescale_api_aws_region }}
type: Opaque
