apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: apicast-operator
  namespace: "{{tenant_gw_project }}"
spec:
spec:
  channel: "{{ threescale_subscription_channel }}"
  installPlanApproval: Automatic
  name: apicast-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace
  startingCSV: "{{ apicast_currentCSV }}"

