security.protocol=SASL_SSL
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required \
    username="{{ cloud_services_service_account_username }}" \
    password="{{ cloud_services_service_account_password }}";