kind: ServiceAccount
apiVersion: v1
metadata:
  name: {{ prometheus_service_account }}
  annotations:
    serviceaccounts.openshift.io/oauth-redirectreference.primary: '{"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"Route","name":"{{ prometheus_route_name }}"}}'